<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Esqueci a Senha</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
	<link rel="stylesheet" href="/estilos.css">
</head>
<body>
    <header class="header-custom">
        <div class="navbar-brand">Nome da Academia</div>
    </header>

    <main class="container">
        <h2 class="text-center mb-4">Recuperar Senha</h2>

        <!-- Mensagens de sucesso e erro -->
        <div th:if="${erro}" class="alert alert-danger text-center">
            <p th:text="${erro}"></p>
        </div>
        <div th:if="${mensagem}" class="alert alert-success text-center">
            <p th:text="${mensagem}"></p>
        </div>

        <!-- Formulário para recuperar senha -->
        <form action="/recuperar-senha" method="post">
            <div class="form-group">
                <label for="email">E-mail:</label>
                <input type="email" class="form-control" id="email" name="email" placeholder="m@example.com" required>
            </div>
            <button type="submit" class="btn btn-primary btn-block">Recuperar Senha</button>
            <p class="mt-3">Um código será enviado para o seu e-mail para recuperação de senha.</p>
        </form>
    </main>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
