<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Confirmar Código</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
	<link rel="stylesheet" href="/estilos.css">
</head>
<body>
    <header class="header-custom">
        <div class="navbar-brand">MiggyFit</div>
    </header>

    <main class="container">
        <h2 class="text-center mb-4">Confirmar Código</h2>
        <form action="/verificar-codigo" method="post">
            <input type="hidden" name="email" value="${email}"/>
            <div class="form-group">
                <label for="codigo">Código:</label>
                <input type="text" class="form-control" id="codigo" name="codigo" placeholder="Código de 6 números" required>
            </div>
            <button type="submit" class="btn btn-primary btn-block">Enviar Código</button>
            <p class="mt-3" th:if="${erro}" th:text="${erro}"></p>
        </form>
    </main>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
